.range {
	$self: &;
	display: flex;
	flex-flow: column nowrap;
	padding-top: 30px;
	
	&__values {
		display: flex;
		justify-content: space-between;
		order: 1;
		
		input[type='number'] {
			@extend %reset-input;
			font-size: 16px;
			max-width: 75px;
			width: 100%;
			color: #888;
			border: 1px solid #ddd;
			transition: border-color 0.3s;
			border-radius: 4px;
			text-align: center;
			padding: 5px;

			&:focus {
				border-color: rgb(var(--accent));
			}
			
			&::-webkit-outer-spin-button, 
			&::-webkit-inner-spin-button {
				appearance: none;
			}
		}
	}
	
	&__slider {
		background-color: #ddd;
		border-radius: 100px;
		position: relative;
		height: 2px;
		margin-bottom: 30px;
		
		span {
			border-radius: 100px;
			display: block;
			position: absolute;
			background-color: rgb(var(--accent));
			height: 100%;
			left: 0;
			top: 0;
		}
		
		input[type="range"] {
			@extend %reset-input;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			// top: 50%;
			// transform: translateY(-50%);
			pointer-events: none;
			z-index: 2;

			&::-webkit-slider-thumb {
				height: 20px;
				width: 20px;
				background: #fff;
				border: 3px solid rgb(var(--accent));
				border-radius: 100px;
				pointer-events: auto;
				cursor: pointer;
				appearance: none;
			}

			&::-moz-range-thumb {
				height: 20px;
				width: 20px;
				background: #fff;
				border: 3px solid rgb(var(--accent));
				border-radius: 100px;
				pointer-events: auto;
				cursor: pointer;
				appearance: none;
			}
		}
	}
}