.slider {
	$self: &;

	&__inner {

	}

	&__title {

	}

	&__wrapper {
		position: relative;
	}

	&__items {
		position: static;
	}

	&__item {
		height: auto;
	}

	&__navi {
		@include media('<=xxs') {
			display: none;
		}
	}

	&__button {
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);

		&_prev {
			left: -15px;

			&::before {
				transform: rotate(180deg);
			}
		}
		
		&_next {
			right: -15px;
		}
	}
}
