.button {
	$self: &;
	@extend %reset-button;
	color: #fff;
	padding: 5px 30px;
	background-color: rgb(var(--accent));
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: fit-content;
	border-radius: 5px;
	min-height: 40px;
	font-family: inherit;

	svg {
		display: block;
		fill: #fff;
		margin-left: 15px;
	}
}