.account {
	$self: &;

	&__inner {

	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-top: 10px;
		margin-bottom: 30px;
		gap: 20px;
	}

	&__title {

	}

	&__exit {
		&.button {
			min-height: 55px;
			font-size: 20px;
			
			@include media('<=md') {
				min-height: 50px;
				font-size: 18px;
			}
			
			@include media('<=xxs') {
				min-height: 45px;
				font-size: 17px;
			}

			svg {
				width: 22px;
				height: 22px;
				
				@include media('<=md') {
					width: 20px;
					height: 20px;
					margin-left: 10px;
				}
			}
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
		
		@include media('<=sm') {
			grid-template-columns: 1fr;
		}
	}
	
	&__data {
		box-sizing: border-box;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		padding: 20px;
		
		@include media('<=xs') {
			font-size: 15px;
		}
		
		@include media('<=xxs') {
			padding: 15px;
		}

		span {
			color: #aaa;
		}
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 20px;
		
		@include media('<=xs') {
			font-size: 18px;
		}
	}

	&__data-item {
		padding: 15px 10px;

		&:nth-child(even) {
			background-color: #f2f2f2;
		}
	}

	&__history {

	}
}