<footer class="footer"> 
	<div class="footer__inner container">
		<a class="footer__logo" href="./"><img src="./images/logo.svg" alt=""></a>
		<div class="footer__menu">
			<a href="./catalog.html">Каталог</a>
			<a href="./">Сравнение</a>
			<a href="./">Избранное</a>
			<a href="./">О компании</a>
			<a href="./">Контакты</a>
		</div>
		<div class="footer__bottom">
			<div class="footer__social">
				<a href="./"><svg><use xlink:href="./images/sprite.svg#icon-inst"></use></svg></a>
				<a href="./"><svg><use xlink:href="./images/sprite.svg#icon-tgrm"></use></svg></a>
				<a href="./"><svg><use xlink:href="./images/sprite.svg#icon-yout"></use></svg></a>
			</div>
			<div class="footer__address">
				<a href="./">г. Минск, ул Богдановича, д. 3</a>
				<a href="./">+375 59 365 43 23</a>
			</div>
		</div>
	</div>
</footer> 

<script src="common.js"></script> 
</body> 
</html>