<div class="@@if(this.cls){@@cls} card">
	<div class="card__image">
		<img src="./images/@@image" alt="">
		<button class="card__fav @@if(this.fav_set){card__fav_set}"><svg><use xlink:href="#icon-heart"></use></svg></button>
		<button class="card__compare @@if(this.compare_set){card__compare_set}"><svg><use xlink:href="#icon-match"></use></svg></button>
	</div>
	<div class="card__body">
		<div class="card__price">
			<span>@@price</span>
			@@if(this.discount){<span>@@discount</span>}
		</div>
		<div class="card__title">@@title</div>
		<a class="card__button" href="./">В корзину</a>
	</div>
</div>