<aside class="catalog__aside">
	<button class="catalog__aside-toggle"></button>
	<button class="catalog__aside-close"><svg><use xlink:href="#icon-close"></use></svg></button>
	<form class="catalog__filters" action="./" data-scroll-lock-scrollable>
		<div class="catalog__filter filter" id="filter-price">
			<h3 class="filter__title">Цена</h3>
			<fieldset class="filter__body">
				<div 
					class="filter__range" 
					data-range-start-min="20000" 
					data-range-start-max="80000" 
					data-range-max="100000"
					data-range-step="1000"
					data-range-gap="20000"
				>
					<input type="range">
					<input type="range">
				</div>
			</fieldset>
		</div>
		<div class="catalog__filter filter" id="filter-brand">
			<h3 class="filter__title">Бренд</h3>
			<fieldset class="filter__body">
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Atlant</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>LG</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Gefest</span></label>
			</fieldset>
		</div>
		<div class="catalog__filter filter" id="filter-deep">
			<h3 class="filter__title">Глубина, см</h3>
			<fieldset class="filter__body">
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>30-40</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>40-50</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>50+</span></label>
			</fieldset>
		</div>
		<div class="catalog__filter filter" id="filter-speed">
			<h3 class="filter__title">Скорость (до)</h3>
			<fieldset class="filter__body">
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>800</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>1000</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>1100</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>1200</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>1300</span></label>
			</fieldset>
		</div>
		<div class="catalog__filter filter" id="filter-fuel">
			<h3 class="filter__title">Тип топлива</h3>
			<fieldset class="filter__body">
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Бензин</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Дизель</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Гибрид</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Электро</span></label>
			</fieldset>
		</div>
		<div class="catalog__filter filter" id="filter-country">
			<h3 class="filter__title">Страна</h3>
			<fieldset class="filter__body">
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Германия</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Франция</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Китай</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Россия</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>Беларусь</span></label>
			</fieldset>
		</div>
		<div class="catalog__filter filter" id="filter-width">
			<h3 class="filter__title">Ширина, см</h3>
			<fieldset class="filter__body">
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>40-45</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>45-50</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>55-60</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>60-65</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>65-70</span></label>
			</fieldset>
		</div>
		<div class="catalog__filter filter" id="filter-year">
			<h3 class="filter__title">Год выхода</h3>
			<fieldset class="filter__body">
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>2024</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>2023</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>2022</span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span>2021</span></label>
			</fieldset>
		</div>
		<div class="catalog__filter filter" id="filter-color">
			<h3 class="filter__title">Цвет</h3>
			<fieldset class="filter__body">
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span></span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span></span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span></span></label>
				<label class="filter__checkbox chbox"><input type="checkbox" value=""><span></span></label>
			</fieldset>
		</div>
		<button class="catalog__apply button">Применить</button>
	</form>
</aside>