<div class="categories">
	<div class="categories__inner container">
		<div class="categories__slider swiper">
			<div class="swiper-wrapper">
				<a class="categories__link swiper-slide" href="./">Телефоны и гаджеты</a>
				<a class="categories__link swiper-slide" href="./">Стиральные машины</a>
				<a class="categories__link swiper-slide" href="./">Микроволновые печи</a>
				<a class="categories__link swiper-slide" href="./">Телевизоры</a>
				<a class="categories__link swiper-slide" href="./">Холодильники</a>
				<a class="categories__link swiper-slide" href="./">Проекторы</a>
				<a class="categories__link swiper-slide" href="./">Пылесосы</a>
				<a class="categories__link swiper-slide" href="./">Компьютеры</a>
			</div>
		</div>
		<button class="categories__button categories__button_prev"></button>
		<button class="categories__button categories__button_next"></button>
	</div>
</div>
