<div class="categories @@if(this.cls){@@cls}">
	<div class="categories__inner container">
		<div class="categories__slider swiper">
			<div class="swiper-wrapper">
				<a class="categories__link swiper-slide" href="./catalog.html">Телефоны и гаджеты</a>
				<a class="categories__link swiper-slide" href="./catalog.html">Стиральные машины</a>
				<a class="categories__link swiper-slide" href="./catalog.html">Микроволновые печи</a>
				<a class="categories__link swiper-slide" href="./catalog.html">Кофемашины</a>
				<a class="categories__link swiper-slide" href="./catalog.html">Телевизоры</a>
				<a class="categories__link swiper-slide" href="./catalog.html">Холодильники</a>
				<a class="categories__link swiper-slide" href="./catalog.html">Проекторы</a>
				<a class="categories__link swiper-slide" href="./catalog.html">Пылесосы</a>
				<a class="categories__link swiper-slide" href="./catalog.html">Компьютеры</a>
			</div>
		</div>
		<button class="categories__button categories__button_prev"></button>
		<button class="categories__button categories__button_next"></button>
	</div>
</div>
