.categories {
	$self: &;
	margin-bottom: 25px;
	
	@include media('<=sm') {
		margin-bottom: 20px;
	}

	@include media('<=xxs') {
		display: none;
	}

	&__inner {
		box-sizing: border-box;
		padding: 0 50px;
		position: relative;
		
		@include media('<=sm') {
			padding: 0 35px;
		}
	}

	&__slider {
		box-sizing: border-box;
	}

	&__link {
		box-sizing: border-box;
		width: fit-content;
		font-size: 16px;
		text-decoration: none;
		color: #888;
		transition: color 0.3s;
		line-height: 1;
		
		@include media('<=sm') {
			font-size: 14px;
		}
		
		&:hover {
			color: rgb(var(--accent));
		}
	}

	&__button {
		@extend %reset-button;
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
		width: 29px;
		height: 29px;
		flex-shrink: 0;
		border-radius: 5px;
		background-color: #fff;
		transition: background-color 0.3s, border-color 0.3s;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
		display: flex;
		align-items: center;
		justify-content: center;
		
		@include media('<=sm') {
			width: 24px;
			height: 24px;
		}
	
		&::before {
			display: block;
			content: '';
			width: 30%;
			height: 45%;
			background: svg-url('<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.70711 6.29289C8.09763 6.68342 8.09763 7.31658 7.70711 7.70711L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z" fill="#085ddc"/></svg>') no-repeat center / contain transparent;
		}

		&_prev {
			left: 0px;
	
			&::before {
				transform: rotate(180deg);
			}
		}

		&_next {
			right: 0px;
		}

		&.disabled {
			border-color: transparent;

			&::before {
				filter: grayscale(1.0) brightness(1.8);
			}
		}
	}
}