.login {
	$self: &;

	&__inner {
		&.container {
			max-width: 760px;
		}
	}

	&__title {
		text-align: center;
	}

	&__form {

	}
	
	&__fields {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		
		@include media('<=sm') {
			grid-gap: 20px;
		}
	}
	
	&__field {
		
	}
	
	&__buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
		
		@include media('<=sm') {
			grid-gap: 20px;
		}
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
		}
	}

	&__button {
		grid-column: span 1;
		width: 100%;
		
		&.button {
			min-height: 65px;
			font-size: 20px;

			@include media('<=md') {
				min-height: 55px;
			}

			@include media('<=xxs') {
				font-size: 18px;
				width: 100%;
				padding: 8px 16px 6px 16px;
			}
		}
	}
}