.title {
	$self: &;
	color: #555;
	font-weight: 600;
	font-size: 26px;
	@include range(26px, 20px, 1280px, 360px);

	&_main {
		font-weight: 400;
		border-left: 3px solid rgba(var(--accent), 0.5);
		background-color: #fff;
		padding: 8px 8px 8px 20px;
	}

	span {
		color: rgba(var(--accent));
	}
}