.catalog {
	$self: &;

	&__inner {

	}

	&__title {

	}

	&__top {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: -10px;

		@include media('<=xxs') {
			margin: 0;
		}

		h2 {
			padding-right: 20px;

			@include media('<=sm') {
				display: none;
			}
		}
	}

	&__cats {
		margin-left: auto;
		box-sizing: border-box;
		border: 1px solid #ddd;
		background-color: #fff;
		border-radius: 6px;
		min-height: 52px;
		width: 100%;
		max-width: 300px;
		font-size: 18px;
		color: #111;
		
		@include media('<=sm') {
			max-width: none;
		}
	}

	&__add {

		&.button {
			font-size: 18px;
			min-height: 50px;
			padding: 5px 15px;

			svg {
				width: 28px;
				height: 28px;
				fill: #fff;
				margin: 0;
			}
		}
	}

	&__content {
		display: grid;
		grid-template-columns: 280px 1fr;
		grid-gap: 30px;
		
		@include media('<=md') {
			grid-template-columns: 240px 1fr;
		}
		
		@include media('<=md') {
			grid-gap: 20px;
		}
		
		@include media('<=sm') {
			display: block;
		}
	}

	&__aside {
		grid-column: span 1;
		box-sizing: border-box;
		
		@include media('<=sm') {
			position: fixed;
			height: 100vh;
			height: 100dvh;
			z-index: 12;
			right: -400px; top: 0;
			max-width: 400px;
			width: 100%;
			transition: right 0.3s ease-out;
			padding: 60px 0 20px 30px;
			background-color: #f7f7f7;
			
			&.opened {
				right: 0;
			}
			
			@include media('<=400px') {
				right: -100%;
				padding: 60px 0 20px 20px;
			}
		}
	}

	&__aside-toggle {
		@extend %reset-button;
		position: absolute;
		background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24"><defs><style>.aside{fill:#ffffff;fill-rule:evenodd;}</style></defs><circle class="aside" cx="3" cy="3" r="3"/><circle class="aside" cx="3" cy="12" r="3"/><circle class="aside" cx="3" cy="21" r="3"/></svg>') left 14px center / auto no-repeat rgb(var(--accent));
		width: 30px;
		height: 50px;
		left: 0;
		z-index: -1;
		top: calc(50% - 25px);
		transform: translateX(-30px);
		border-radius: 10px 0 0 10px;
		display: none;

		@include media('<=sm') {
			display: block;
		}
	}

	&__aside-close {
		@extend %reset-button;
		position: absolute;
		width: 18px;
		height: 18px;
		position: absolute;
		top: 20px;
		left: 22px;
		z-index: 1;
		display: none;

		@include media('<=sm') {
			display: block;
		}

		svg {
			display: block;
			fill: #555;
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	&__filters {
		display: flex;
		flex-flow: column nowrap;
		gap: 30px;
		position: sticky;
		bottom: 20px;
		top: 120px;
		
		@include media('<=md') {
			gap: 20px;
		}
		
		@include media('<=sm') {
			position: static;
			overflow: auto;
			height: 100%;
			padding-right: 30px;
			
			&::-webkit-scrollbar {
				width: 3px;
				height: 3px;
			}
			
			&::-webkit-scrollbar-track {
				background-color: #111;
			}
			
			&::-webkit-scrollbar-thumb {
				background-color: rgb(var(--accent));
				border-radius: 10px;
			}
			
			&::-webkit-scrollbar-corner {
				background-color: transparent;
			}		
		}
		
		@include media('<=xxs') {
			padding-right: 20px;
		}
	}

	&__filter {

	}
	
	&__apply {

		&.button {
			height: auto;
			min-height: 58px;
			font-size: 18px;
			width: 100%;
		
			@include media('<=sm') {
				font-size: 17px;
				min-height: 54px;
			}
			
			@include media('<=xxs') {
				font-size: 16px;
				min-height: 52px;
			}
		}
	}

	&__items {
		grid-column: span 1;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-content: start;
		grid-gap: 30px;
		
		@include media('<=lg') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=md') {
			grid-gap: 20px;
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		grid-column: span 1;
	}
	
	&__pagination {
		grid-column: span 3;
		
		@include media('<=lg') {
			grid-column: span 2;
		}
		
		@include media('<=xxs') {
			grid-column: span 1;
		}
	}
}