.pictures {
	$self: &;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(380px, auto);
	grid-gap: 30px;
	
	@include media('<=lg') {
		grid-auto-rows: minmax(320px, auto);
	}
	
	@include media('<=md') {
		grid-auto-rows: minmax(300px, auto);
		grid-gap: 20px;
	}
	
	@include media('<=sm') {
		grid-auto-rows: minmax(260px, auto);
	}
	
	@include media('<=xxs') {
		grid-auto-rows: minmax(240px, auto);
		grid-gap: 10px;
	}
	
	@include media('<=xxxs') {
		grid-auto-rows: minmax(200px, auto);
	}

	&__item {
		grid-column: span 1;
		background-color: #fff;
		overflow: hidden;
		border-radius: 10px;

		&_add {
			background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('#{$images-path}/detail-image-5.webp') center / cover no-repeat;
			position: relative;

			&::before, &::after {
				display: block;
				box-sizing: border-box;
				content: '';
				background-color: rgb(var(--accent));
				height: 100%;
				width: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
	
			&::before {
				max-height: 100px;
				max-width: 3px;
				
				@include media('<=xs') {
					max-height: 80px;
					max-width: 2px;
				}
			}
	
			&::after {
				max-width: 100px;
				max-height: 3px;
				
				@include media('<=xs') {
					max-width: 80px;
					max-height: 2px;
				}
			}
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}