.brands {
	$self: &;

	&__inner {

	}

	&__title {

	}

	&__slider {
		position: relative;
	}

	&__items {
		position: static;
	}

	&__item {
		height: auto;
		display: flex;
		max-width: fit-content;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
		background-color: #fff;
		border-radius: 10px;
			padding: 10px;

		img {
			display: block;
			max-height: 100px;
			max-width: 200px;
			width: 100%;
		}
	}

	&__navi {
		@include media('<=xxs') {
			display: none;
		}
	}

	&__button {
		@extend %reset-button;
		position: absolute;
		z-index: 2;
		top: 50%;
		width: 40px;
		height: 40px;
		flex-shrink: 0;
		border-radius: 5px;
		transform: translateY(-50%);
		transition: background-color 0.3s;
		background-color: rgba(210, 210, 210, 0.9);
		display: flex;
		align-items: center;
		justify-content: center;
		
		@include media('<=sm') {
			width: 29px;
			height: 29px;
		}
		
		@include media('<=xxs') {
			border-radius: 3px;
			height: 24px;
			width: 24px;
		}
	
		&::before {
			display: block;
			content: '';
			width: 30%;
			height: 45%;
			opacity: 0.7;
			background: svg-url('<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.70711 6.29289C8.09763 6.68342 8.09763 7.31658 7.70711 7.70711L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z" fill="#fff"/></svg>') no-repeat center / contain transparent;
		}

		&_prev {
			left: -15px;

			&::before {
				transform: rotate(180deg);
			}
		}
		
		&_next {
			right: -15px;
		}
	}
}