.brands {
	$self: &;

	&__inner {

	}

	&__title {

	}

	&__slider {
		position: relative;
	}

	&__items {
		position: static;
	}

	&__item {
		height: auto;
		display: flex;
		max-width: fit-content;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
		background-color: #fff;
		border-radius: 10px;
		padding: 10px 20px;

		img {
			display: block;
			max-height: 80px;
			max-width: 180px;
			width: 100%;
		}
	}

	&__navi {
		@include media('<=xxs') {
			display: none;
		}
	}

	&__button {
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);

		&_prev {
			left: -15px;

			&::before {
				transform: rotate(180deg);
			}
		}
		
		&_next {
			right: -15px;
		}
	}
}